<div class="comment_container">
	<span>
		<%= User.find(comment.user_id).email %>
	</span>	

	<div>
		<%= comment.body %>
	</div>

<% if user_signed_in? && current_user.id == comment.user_id  %>
	<p>
	<%= link_to 'Удалить комментарий', [comment.post, comment],
								:confirm => 'Are you sure?',
								:method => :delete %>
	</p>
<% end %>

</div>