<p>
	<p>Имя</p>
	<%= comment.commenter %>
</p>
<p>
	<p>Текст:</p>
	<%= comment.body %>
</p>
<p>
	<%= link_to 'Destroy Comment', [comment.post, comment],
								:confirm => 'Are you sure?',
								:method => :delete %>
</p>
