<div class="comment_container">
	<span>
		<%= comment.commenter %>
	</span>	

	<div>
		<%= comment.body %>
	</div>


<p>
	<%= link_to 'Удалить комментарий', [comment.post, comment],
								:confirm => 'Are you sure?',
								:method => :delete %>
</p>
</div>