
<div class="one_type_page">

<div class="type_title">
  <%= link_to 'Назад к типам', types_path %>
<h1>
  <%= @type.name %> спот
</h1>
</div>
<h2>
  Что это значит
</h2>

<p>
  <%= @type.description %>
</p>

<% if user_signed_in? && current_user.isadmin == true %>
<button>
<%= link_to 'Edit', edit_type_path(@type) %> 
</button>
<% end %>

</div>
