<header class='header_promo'>
    <button class='button_promo'>
        <%= link_to "Goofy", promo_path %>
    </button>

   <div>
        <%= link_to "О нас", about_path %>
        <%= link_to "Посты", about_path %>

        <button class='button_join'>
            <span>
            ::
            </span>
                Вступить
            <span>
            ::
                </span>
        </button>
   </div>
</header>
