<header class='header_promo'>
    <button class='button_promo'>
        <%= link_to "Goofy", promo_path %>
    </button>

   <div>
        <%= link_to "О нас", about_path %>
        <%= link_to "Посты", posts_path %>

        <button class='button_join'>
            <span>
            ::
            </span>
            <%= link_to "Вступить", splash_path %>
            <span>
            ::
                </span>
        </button>
   </div>
</header>
