<div class="posts_page">

<div class="flex-title_button">
<h1 class="posts_title">
    Пользователи
</h1>
</div>

<div class="types_container_drid">
<div class="types_container_drid">

    <% @users.each do |user| %>
        <div class="type_card">
        <h2><%= user.username %></h2>
        <h3>ID пользователя: <%= user.id %></h3>
        <h3><%= link_to user.email, user %></h3>
    <% end %>
</div>
</div>