<div class="like_body_splash">

<div class="splash_figures"></div>

<div class="skaterboy"></div>

<div class="splash_title">
  <div class="splash_figure">
    <h2>Goofy</h2>
    <p>In prod</p>
  </div>

</div>

</div>
