<%= form_for([@event, @event.eventcomments.build]) do |f| %>
	<div class="field">
	 <%= f.text_area :body %>
	</div>
	<div class="actions submit_btn_post">
	 <%= f.submit "Комментировать" %>
	</div>
   <% end %>