<%= form_for([@spot, @spot.spot_comments.build]) do |f| %>
	<div class="comment-form-flex">

	<div class="spot-input">
	<%= f.text_field :body, placeholder: "Добавь комментарий" %>
		</div>
		
			<%= f.submit "Отправить", class: "post-comment" %>


	</div>
<% end %>