<%= render "header" %>
<div class="about1">

  <div class="yellow_skate">
    <h1>GOOFY</h1>
  </div>
  <div class="blue_skate"></div>
  <h3>Медиа-сервис для тех, кто только начинает свой путь в скейтбординге и чувствует себя некомфортно в тусовке</h3>

</div>

<div class="about2">

<div class="concept1">
    <h2>Концепция</h2>
    <p>Медиа-сервис должен помочь людям, которые мечтают кататься на скейте, но стесняются и чувствуют себя некомфортно в скейтпарках </p>
  </div>
  <div class="concept2">
    <h2>Аудитория</h2>
    <p>17-23  года. Уровень — очень начинающйи. Время года для катания — лето. Ценности — скейтерская культура и коммьюнити</p>
  </div>
  <div class="print"></div>

</div>

<div class="about3">
  
  <h2>CusDev подтвердил гипотезы</h2>

</div>
