/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'values';
 body{
   background: #F8F5F1;
   a {
     text-decoration: none;
   }
   .notice {
     position: fixed;
     bottom: 0;
     right: 0;
     font-family: $text;
     background: $black;
     color: $white;
     border-radius: 50px;
     z-index: 99999;
     padding: 20px;
   }
 }
  .top_widget {
    display: flex;
    position: fixed;
    flex-direction:row;
    justify-content: space-between;
    z-index:3;
    width: 100%;
    top: 0;
    font-family: 'PragmaticaLight';
    padding: 15px 50px;
    box-sizing: border-box;
    background: rgba(248, 245, 241, 0.7);
    backdrop-filter: blur(14px);
  }
  .top_menue {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    .menue_item {
      margin-right: 60px;
      a{
      display:block;
      padding: 13px;
      font-size: 18px;
      text-decoration: none;
      line-height:24px;
      color: #222222;
      font-weight: 500;
      transition: all .6 ease-in-out;
      &:hover {
        font-weight: 900;
        transition: all .6 ease-in-out;
      }
    }
  }
}
.bottom_log {
  display: flex;
  
  align-items: center;

  a {
    margin-left:10px;
    color: $red;
    opacity: 1;
    text-decoration: none;
    &:hover {
      opacity: .5;
    }
  }

}
    .logo_goofy {
      margin-right: 78px;
    }
  .content_box {
    margin: 0 50px;
    padding-top:69px;
  }