// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import 'values';
.new_post_title {
    margin: 123px 0px 20px;
    a {
        color: $black;
        font-size: 18px;
        font-family: $text;
        opacity: .7;
        &:hover {
            opacity: 1;
        }
    }
    h1 {
        font-family: $heading;
        color: $black;
        font-size: 48px;
    }
}
.new_post_page {

    * {
        color: $white;
        background: transparent;
    }
    a{
        font-family: $text;
    }
    form {
        font-size: 18px;
    }
    background: $black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 40px;
    button {
        border: 1px solid $white;
        background: transparent;
        color: $white;
        font-size: 18px;
        width: 100px;
        border-radius: 50px;
        a{
            color: $white;
        }
    }
}
.events-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
.event-page-flex {
    display: flex;
    flex-direction: row;
    * {
        border-radius: 12px;
       
    }
}
.left-card {
    width: 35%;
    background-color:$green;
    padding: 44px 30px;
    color: $white;
    margin-right: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     div:nth-child(1) {
        margin-bottom: 85px;
     }
    h1 {
        font-family: $categories;
        font-size: 32px;
        margin-bottom: 16px;
    }
    p {
        font-family: $text;
        font-size: 24px;
        line-height: 31px;
    }
}
.right-card {
    width: 65%;
    background-color:$black;
    color: $white;
    padding: 44px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h2{
        font-family: $titleOfCards;  
        font-size: 32px;
        margin-bottom: 10px;
        margin-right: 10px;
        
      }
      p {
        font-family: $text;  
        font-size: 24px;
        color: $grey;
        line-height: 31px;
      }
}
.flex-card {
  
}
.chat {
    color: $yellow;
    a {
        color: $yellow;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}
.time {
    font-family: $heading;
    font-size: 120px;
    line-height: 80px;
}
.flex-buttons-event {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    form {
       
        margin-right: 20px;
    }
    .post_edit {
        a {
            color: $white;
        }
    }
   
}
.button-styled-event {
    margin-top: 17px;
    padding: 12px 50px;
    background: $white;
    color: $black;
    font-family: $buttons;
    border: none;
    font-size: 18px;
    border: 1px solid $black;
    box-sizing: border-box;
    box-shadow: 4px 4px 0px $black;
    border-radius: 6px;
    margin-right: 8%;
    cursor: pointer;
    &:hover {
        background: $yellow;
        box-shadow: 4px 4px 0px $black;
    }
}
.button-styled-event-go {
    margin-top: 17px;
    padding: 12px 50px;
    background: $yellow;
    color: $black;
    font-family: $buttons;
    border: none;
    font-size: 18px;
    border: 1px solid $black;
    box-sizing: border-box;
    box-shadow: 4px 4px 0px $red;
    border-radius: 6px;
    cursor: pointer;
    &:hover {
        background: $white;
        box-shadow: 4px 4px 0px $red;
    }
}
.tag-button-event {
    border: none;
    border: 4px solid $yellow;
    font-family: $text;
    font-size: 24px;
    padding: 12px 20px;
    box-sizing: border-box;
    color: $yellow;
    background: transparent;
    border-radius: 50px;
}
.bottom-flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}