@import 'values';
.flex-categories {
    display: flex;
        flex-direction: row;
        // width: 394px;
        justify-content: space-around;
        text-align: center;
        border: 2px solid $blue;
        box-sizing: border-box;
        border-radius: 52px;
        height:100%;
        margin-right: 30px;
        overflow: hidden;
        .category-item {
          font-family: $heading;
            color: $blue;
            font-size: 16px;
            height: 100%;
            border: none;
            background: transparent;
            padding: 13px 35px;
            margin: 0;
            border-radius: 40px;
            cursor: pointer;
            &:hover {
              opacity: .6;
            }
        }
        .active {
            background-color: $blue;
            color: $white;
            &:hover {
                opacity: 1;
              }
        }

}