// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import 'values';
.posts_page {
    width: 100%;
    box-sizing: border-box;
    padding: 0 50px;

    .posts_container_grid{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px 20px;
    }
    .post_card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: 4px solid $black;
        width: 100%;
        min-height: 190px;
        border-radius: 20px;
        background-color: $black;
        padding: 36px 14px 35px 30px;
        box-sizing: border-box;
        position: relative;
        .post_postik {
          margin-right: 10px;
        }
        h2{
            @include font(18px, 18px);
            color: $white;
            font-family: $title;
            min-width: 160px;
        }
        h3 {
            color: $white;
            @include font(18px, 18px);
            font-family: $text;
        }
        p {
            font-family: $text;
            font-size: 18px;
            color: $white;
            width: 40%;
        }
      
        .flex-align {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
            .show_btn {
                display: block;
                font-family: $heading;
                margin: 0;
                padding: 0;
                transition: all .3s ease-in-out;
                color: $white;
                border:none;
                background: transparent;
                text-align:left;
                a{
                    @include font(18px, 18px);
                    text-decoration: none;
                    color: $white;
                    font-family: $heading;
                }
            }
            .button_actions {
                font-family: $heading;
                @include font(18px, 18px);
                a:first-of-type {
                    color: $white;
                    text-decoration: none;
                    opacity: .5;
                    &:hover {
                        opacity: 1;
                    }
                }
                a:last-of-type {

                    color: $red;
                    text-decoration: none;
                    opacity: .5;
                    &:hover {
                    opacity: 1;
                }
                }
            }

        }
        .info_btn {
          position: absolute;
          bottom: 10px;
          left: 34px;
          button {
            border: 1px solid $white;
            border-radius: 50px;
            background: transparent;
            color: $white;
          }
        }
    }
}
.post_info {
  margin: 120px 0 0px 50px;
}
.post_title {
  font-family: $heading;
  @include font(48px, 48px);
  color: $black;
  margin-bottom: 67px;
}
.post_scales {
  font-family: $title;
  @include font(30px, 31px);
  color: $black;
  width: 1000px;
}
.post_time, .post_level, .post_description {
  margin-bottom: 30px;
}
.post_mini {
  color: $black;
  font-family: $text;
  @include font(30px, 31px);
  margin: -60px 0px 30px 300px;
}
.post_pic {
  display: flex;
  flex-direction: row;
  margin: 100px 50px 100px 50px;
  box-sizing: border-box;
  background: $black;
}
.post_content {
  color: $white;
  font-family: $text;
  @include font(30px, 45px);
  margin-left: 124px;
  width: 547px;
  padding: 40px 20px 70px;
}

.comment_section {
  margin: 100px 0 50px 50px;
  p {
    color: $black;
    font-family: $text;
    @include font(20px, 21px);
    margin-bottom: 25px;
  }
  input {
    font-family: $text;
    @include font(20px, 21px);
    color: $black;
  }
} 

.edit {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 207px;
  margin-bottom: 34px;
}

.post_delete {
    a {
        text-decoration: none;
        color: $red;
        font-family: $text;
        @include font(20px, 21px);
        opacity: .5;
        &:hover {
            opacity: 1;
          }
      }
}
.comment_title {
  color: $black;
  font-family: $title;
  @include font(30px, 31px);
  margin-bottom: 34px;
}
.add_comment {
  color: $black;
  font-family:  $text;
  @include font(20px, 21px);
  margin-bottom: 85px;
  opacity: .5
}

.field label {
  color: $black;
  font-family:  $text;
  @include font(24px, 27px);
}
#comment_commenter {
  width: 433px;
  margin-top: 25px;
}
.field {
  margin-bottom: 40px;
}
.actions input {
  @include button(4px, solid, $black, 340px, 318px, transparent);
  height: 51px;
  font-family: $text;
  padding: 0 10px;
  color: $black;
  transition: all .3s ease-in-out;
  @include font(24px, 25px);
}
.actions input:hover{
   color: $white;
   background-color: $black;
   transition: all .3s ease-in-out;
}
.editable {
  margin: 100px 0 50px 50px;
}
.editable h1 {
  font-family: $title;
  @include font(50px, 51px);
  color: $black;
  margin-bottom: 67px;
}
 .editable .field{
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-top: 25px;
}
.editable label {
  font-family: $title;
  @include font(20px, 21px);
  color: $black;
  opacity: .5;
  margin-bottom: 20px;
  margin-right: 30px;
}
.editable input {
  font-family: $text;
  @include font(20px, 21px);
  color: $black;
}
.editable textarea {
  font-family: $text;
  @include font(20px, 21px);
  color: $black;
  height: 80px;
}
.add_trick {
  margin: 100px 0 50px 50px;
}
.add_trick h1 {
  font-family: $title;
  @include font(50px, 51px);
  color: $black;
  margin-bottom: 67px;
  margin-top: 20px;
}
.add_trick .field{
 display: flex;
 flex-direction: column;
 width: 500px;
 margin-top: 25px;
}
.add_trick label {
 font-family: "FormularMedium";
 font-size: 20px;
 line-height: 21px;
 color: $black;
 opacity: .5;
 margin-bottom: 20px;
 margin-right: 30px;
}
.add_trick input {
  font-family: $text;
  @include font(20px, 21px);
  color: $black;
}
.add_trick textarea {
  font-family: $text;
  @include font(20px, 21px);
  color: $black;
  height: 80px;
}
.submit_btn_post {
    input{
    @include button(4px, solid, $black, 340px, auto);
    font-family: $heading;
    padding: 0 15px;
    transition: all .3s ease-in-out;
    color: $black;
    @include font(18px, 18px);
    &:hover{
            color: $white;
            transition: all .3s ease-in-out;
            background-color: $black;
        }
    }
}
.comment_container {
    display: flex;
    flex-direction: column;
    border: 4px solid $black;
    padding: 17px 20px;
    margin-bottom:40px;
    position: relative;
    max-width: 433px;
    span{
        @include button(4px, solid, transparent, 340px, auto, $black);
        width: fit-content;
        padding: 8px 10px;
        @include font(20px, 25px);
        font-family: $title;
        color: $white;
        margin-bottom: 21px;
    }
    div{
        position: relative;
        width: 90%;
        @include font(20px, 26px);
        font-family: $text;
        margin-bottom: 40px;
    }
    p {
        margin: auto 0;
        a {
            text-decoration: none;
            color: $red;
            font-family: $text;
            @include font(15px, 20px);
            margin-bottom: 40px;
            opacity: .7;
            &:hover {
                opacity: 1;
            }
          }
    }
}
.comments_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px 20px;
}
.cool_line {
    background: $black;
    height: 4px;
    width:92%;
    margin: 0 auto;
}
.posts-grid {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 80px;
}
.tag-button-post {
   border: none;
    border: 4px solid $black;
    color: $black;
    font-family: $text;
    font-size: 24px;
    padding: 12px 20px;
    box-sizing: border-box;
    background: transparent;
    border-radius: 50px;
}
.tag-button-post-learned {
  border: none;
    border: 4px solid transparent;
    color: $white;
    font-family: $text;
    font-size: 24px;
    padding: 12px 20px;
    box-sizing: border-box;
    background: $green;
    border-radius: 50px;
}
.post-page-flex {
  
  display: flex;
  flex-direction: row;
  height: 482px;
}
.post-image-page {
  width: 60%;
  margin-right: 20px;
  overflow: hidden;
  height:100%;
  position: relative;
  img {
    filter: saturate(0%) invert(100%) contrast(100%) brightness(60%);
    border-radius: 12px;
    object-fit: cover;
    width: 100%;
    height:100%;
  }
  
}
.right-post-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h1 {
    font-family: $title;
    font-size: 54px;
  }
}
.block_post {
  margin-bottom: 30px;
  margin-top: 60px;
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  &::before {
    content: '';
    left: -50px;
    bottom: -40px;
    position: absolute;
    background: #151921;
    height: 240px;
    width: 100vw;
    z-index: -1;
  }
  iframe {
    border-radius: 12px;
    width: 100% !important;
  }
} 
.post-description {
  font-family: $text;
  font-size: 14px;
  max-width: 400px;
}
.button-styled-post {
  width: 100%;
  padding: 12px 64px;
    background: $blue;
    color: $white;
    font-family: $buttons;
    border: none;
    font-size: 18px;
    border: 1px solid $white;
    box-sizing: border-box;
    box-shadow: 4px 4px 0px $blue;
    border-radius: 6px;
    cursor: pointer;
    &:hover {
        background: $black;
        box-shadow: 4px 4px 0px $black;
    }
}
.post-titile-flex {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}