// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import 'values';
.posts_page {
    width: 100%;
    box-sizing: border-box;
    padding: 0 50px;
    .flex-title_button {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
        margin: 93px 0px 75px;
        .posts_title {
            font-family: $heading;
            @include font(140px, 70px);
            color: $black;
            position: relative;
            width: 400px !important;
            z-index: 1;
        }
        button {
            @include button(4px, solid, $red, 340px, auto);
            font-family: $heading;
            padding: 0 15px;
            transition: all .3s ease-in-out;
            color: $red;
            a{
                @include font(30px, 35px);
                text-decoration: none;
                color: $red
            }
            span{
                font-family: $dots;
                font-size: 24px;
            }
            &:hover{
                a{
                    color: $white;
                    transition: all .3s ease-in-out;
                }
                    background-color: $red;
                    color: $white;
                    transition: all .3s ease-in-out;
        
            }
        }
    }
    
    .posts_container_grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px 20px;
    }
    .post_card {
        display: flex;
        flex-direction: column;
        border: 4px solid #222222;
        max-width: 433px;
        height: 485px;
        .plashka {
            background-color: $black;
            padding: 36px 14px 60px 41px;
            box-sizing: border-box;
            position: relative;
        }
        h2{
            @include font(36px, 40px);
            letter-spacing: 0.05em;
            color: $white;
            font-family: $title;   
        }
        h3 {
            color: $white;
            @include font(24px, 30px);
            font-family: $text;
            margin-top: 15px; 
        }
        p {
            font-family: $text;
            @include font(24px, 30px);
            color: $black;
            padding: 31px 0px 0px 41px;
        }
        .легко {
            @include button(4px, solid, transparent, 340px, auto, $green);
            @include font(30px, 35px);
            font-family: $heading;
            padding: 0 10px;
            transition: all .3s ease-in-out;
            color: $white;
            position: absolute;
            right: 22px;
            bottom: 24px;
        }

        .средне {
            @include button(4px, solid, transparent, 340px, auto, $yellow);
            @include font(30px, 35px);
            font-family: $heading;
            padding: 0 10px;
            transition: all .3s ease-in-out;
            color: $white;
            position: absolute;
            right: 22px;
            bottom: 24px;
        }
        .сложно {
            @include button(4px, solid, transparent, 340px, auto, $red);
            @include font(30px, 35px);
            font-family: $heading;
            padding: 0 10px;
            transition: all .3s ease-in-out;
            color: $white;
            position: absolute;
            right: 22px;
            bottom: 24px;
        }
        .flex-align {
            margin-top: auto;
            margin-left: 41px;
            margin-bottom: 40px;
            .show_btn {
                display: block;
                @include button(4px, solid, $black, 340px, auto);
                font-family: $heading;
                padding: 0 15px;
                transition: all .3s ease-in-out;
                color: $black;
                a{
                    @include font(30px, 35px);
                    text-decoration: none;
                    color: $black
                }
                span{
                    font-family: $dots;
                    font-size: 30px;
                }
                &:hover{
                    a{
                        color: $white;
                        transition: all .3s ease-in-out;
                    }
                        background-color: $black;
                        color: $white;
                        transition: all .3s ease-in-out;
            
                }
            }
            .button_actions {
                margin-top: 30px;
                font-family: $text;
                @include font(20px, 26px);
                a:first-of-type {
                    color: $black;
                    text-decoration: none;
                    opacity: .5;
                    &:hover {
                        opacity: 1;
                    }
                }
                a:last-of-type {

                    color: $red;
                    text-decoration: none;
                    opacity: .5;
                    &:hover {
                    opacity: 1;
                }
                }   
            }
              
        }
    }
}
