// Place all the styles related to the splash controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import 'values';
.like_body_splash{
  width: 100vw;
  height:100vh;
  background-color: $black;
  overflow: hidden;
}
.skaterboy {
  height: 794px;
  width: 600px;
  background-image: url(/assets/skaterboy.png);
  background-size: auto;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 0;
}
.splash_figures {
  width: 699.2px;
  height: 479px;
  background-image: url(/assets/splash_figures.svg);
  background-size: auto;
  background-repeat: no-repeat;
  margin-right: 600px;
  position: absolute;
  right: 0px;
  bottom: -100px;
}
.splash_figure {
  width: 499.61px;
  height: 124.9px;
  background-color: $red;
  border-radius: 340px;
  transform: rotate(-15deg);
}
.splash_title {
  margin: 100px 0 0 80px;
}
.splash_title h2 {
  width: 488px;
  font-family: $heading;
  @include font(160px, 176px);
  color: $yellow;
  transform: rotate(15deg);
  margin-left: 60px;
}
.splash_title p {
  width: 120px;
  font-family: $text;
  @include font(36px, 44px);
  color: $yellow;
  margin-top: -30px;
}
