// Place all the styles related to the Spots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import 'values';
.spots-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 21px;
}
.banner {
    height: 350px;
    overflow: hidden; 
    border-radius: 12px; 
    color: $white;
    padding: 140px 15px 0px 30px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all .6 ease;
    filter: none;
    &:hover {
        transition: all .6 ease;
        filter: drop-shadow(10px 8px 5px rgba(43, 48, 59, 0.3));
    }
    h1 {
        font-family: $titleOfCards;
        font-size: 54px;
        padding-bottom: 22px;
        max-width: 400px;
     }
     p {
        font-family: $titleOfCards;
        font-size: 26px;
        opacity: .6;
     }
}
.spot-page-flex {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 100%;
    .button-styled {
        width: 100%;
    }
}
.left-foto-spot {
    // position: relative;
    width: 65%;
    height: 1000px;
    
    * {
        position: sticky;
        top:95px;
        height: 100vh;
    }
    div {
        border-radius: 0 12px 12px 0;
    }
}
.right-details-spot {
    width: 35%;
    margin-left: 32px;
   
}
.spot-page-title {
    font-size: 32px;
    font-family: $titleOfCards;
    margin-bottom: 40px;
}
.type-btn {
    
        padding: 9px 16px;
        font-family: $text;
        font-size: 18px;
        background: $black;
        opacity: .8;
        border: 1px solid $white;
        border-radius: 40px;
        color: $white;
        margin-bottom: 16px;

}
.spot-label {
    font-size: 24px;
    font-family: $categories;
    margin-bottom: 9px;
}
.spot-text {
    font-size: 18px;
    font-family: $text;
}
.spot-item {
    margin: 30px 0 32px;
}
.post_edit {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $text;
    margin-bottom: 12px;
    color: $grey;
    font-size: 18px;
    a {
        margin-top: 30px;
        text-decoration: none;
        color: $blue;
        opacity: .5;
        font-family: $categories;
        display: block;
        @include font(18px, 21px);
        &:hover {
            opacity: 1;
          }
      }
      a:nth-child(2) {
          color: $red;
      }
  }
  .post_edit_delete {
      a {width: 440px;
      margin-top: 30px;
      text-decoration: none;
      color: $red;
      opacity: .5;
      font-family: $categories;
      display: block;
      text-align: center;
      @include font(18px, 21px);
      }
      &:hover {
        opacity: 1;
      }
  }
.wrapper-sticky {
    width: 100%;
    height: 100%;
    background-size: cover;
    // position: sticky;
    // position:-webkit-sticky;
    // top: 0;
}
.same-spots {
    margin-top: 66px;
    h1 {
        margin-bottom: 44px;
    }
}
.login-action {
    font-family: $text;
    font-size: 18px;
    line-height: 24px;
    a {
        color: $blue;
        font-family: $categories;
    }
    a:nth-child(2) {
        color: $purple;
    }
}
.flex-buttons {
    display: flex;
    align-items: flex-end;
    form {
        margin-right: 20px;
    }
}