// Place all the styles related to the types controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import 'values';
.types_container_drid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px 20px;
    .type_card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: 4px solid #222222;
        width: 100%;
        border-radius: 20px;
        padding: 36px 14px 35px 41px;
        box-sizing: border-box;
        position: relative;

        h2{
            @include font(18px, 18px);
            color: $black;
            font-family: $title;
            margin-right: 10px;
        }
        h3 {
            color: $black;
            width:50%;
            @include font(18px, 18px);
            font-family: $text;
        }
        button {
            border: none;
            background: transparent;
            a {
                font-family: $text;
                font-size: 18px;
                color: $black;
            }
        }
    }
}
.one_type_page {
    .type_title {
        margin: 123px 0px 20px;
        a {
            color: $black;
            opacity: .7;
            font-size: 18px;
            font-family: $text;
            &:hover {
                opacity: 1;
            }
        }
    }
    h1 {
        font-size: 48px;
        color: $black;
        font-family: $heading;
    }
    h2 {
        font-size: 24px;
        color: $black;
        font-family: $heading;
        margin-bottom: 40px;
    }
    p {
        font-family: $text;
        color: $black;
        font-size: 18px;
        border: 4px solid $black;
        border-radius: 20px;
        box-sizing: border-box;
        padding: 20px;
        width: 60%;
    }
}
.attention-notice {
    p{
      font-family: $text;
      color: $red;
    }
  }