@font-face {
    font-family: 'Irrationalist';
    src: url('/assets/Irrationalist.ttf');
 }
@font-face{
    font-family: 'FormularMedium';
    src: url('/assets/FormularMedium.ttf');
}

@font-face{
    font-family: 'FormularLight';
    src: url('/assets/FormularLight.ttf');
}

@font-face{
    font-family: 'CSMT';
    src: url('/assets/typoghraphy.ttf');
}

@font-face{
    font-family: 'PragmaticaLight';
    src: url('/assets/Pragmatica-Light.ttf');
}

@font-face{
    font-family: 'PragmaticaExtendedLightOblique';
    src: url('/assets/PragmaticaExtended-LightOblique.ttf');
}

@font-face{
    font-family: 'PragmaticaExtendedBoldOblique';
    src: url('/assets/PragmaticaExtended-BoldOblique.ttf');
}

@font-face{
    font-family: 'PragmaticaExtendedBold';
    src: url('/assets/PragmaticaExtended-Bold.ttf');
}

 $text: 'PragmaticaLight';
 $title: 'PragmaticaExtendedBold';
 $heading: 'PragmaticaExtendedBold';
 $dots: 'CSMT';

 $red: #FF0028;
 $yellow: #FFCB00;
 $blue: #005AFF;
 $black: #222222;
 $purple: #D78CED;
 $white: #FFFFFF;
 $green: #3CB54B;
 $grey: #C4C4C4;

 @mixin button($b: 3px, $s: solid,$bc: $yellow, $r: 340px, $w: 220px, $c: transparent){
     border-width: $b;
     border-style: $s;
     border-color: $bc;
     border-radius: $r;
     width: $w;
     background-color: $c;
     box-sizing: border-box;
 }

 @mixin font($s: 24px, $l: 102.8%) {
         font-size: $s;
         line-height: $l;
        }
