@font-face{
    font-family: 'PragmaticaRegular';
    src: url('/assets/Pragmatica-Regular.otf');
}


@font-face{
    font-family: 'PragmaticaMedium';
    src: url('/assets/Pragmatica-Medium.ttf');
}
@font-face{
    font-family: 'PragmaticaBold';
    src: url('/assets/Pragmatica-Bold.ttf');
}

@font-face{
    font-family: 'PragmaticaExtendedBook';
    src: url('/assets/PragmaticaExtended-Book.ttf');
}

@font-face{
    font-family: 'PragmaticaExtendedMedium';
    src: url('/assets/PragmaticaExtended-Medium.ttf');
}

@font-face{
    font-family: 'PragmaticaExtendedBold';
    src: url('/assets/PragmaticaExtended-Bold.ttf');
}


 $text: 'PragmaticaRegular';
 $categories: 'PragmaticaMedium';
 $types: 'PragmaticaRegular';
 $buttons: 'PragmaticaBold';
 $title: 'PragmaticaExtendedMedium';
 $titleOfCards: 'PragmaticaExtendedBook';
 $heading: 'PragmaticaBold';


 $red: #B35B58;
 $yellow: #F7C96E;
 $blue: #3A4C7B;
 $black: #151921;
 $purple: #644165;
 $white: #F8F5F1;
 $green: #416552;
 $grey: #898989;

 @mixin button($b: 3px, $s: solid,$bc: $yellow, $r: 340px, $w: 220px, $c: transparent){
     border-width: $b;
     border-style: $s;
     border-color: $bc;
     border-radius: $r;
     width: $w;
     background-color: $c;
     box-sizing: border-box;
 }

 @mixin font($s: 24px, $l: 102.8%) {
         font-size: $s;
         line-height: $l;
        }
